.body {
    padding: 10px;
    background-color:#252525;
    color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}

.heat-chart-wrapper {
    position: relative;
    border: solid 1px #a0a0a0;
    height: 400px;
}

.chartPoint {
    padding: 8px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
}

.chartPoint:hover {
    background: grey;
}

.chartPoint::after {
    content:  attr(data-before);
    position: absolute;
    top: -25px;
    left: -15px;
    width: 30px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    background-color: black;
    transition: .2s;
    visibility: hidden;
}

.chartPoint:hover::after {
    top: -35px;
    visibility: visible;
}